@import "./fonts.scss";
@import "./layouts/header";
@import "./layouts/footer";

@import "./pages/index";
@import "./pages/todo";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", "Times New Roman", Times, serif;
}

#app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
