.index {
  min-height: 100%;
  min-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 35%;

    animation: rotating 20s linear infinite;
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
